@import 'tailwindcss';

@theme inline {
	--font-sans: 'Geist', sans-serif;

	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--spacing-lh: 1lh;
	--spacing-ch: 1ch;
}

@custom-variant hover (&:hover);

@variant header-open (body:has(#header-open:checked) &);
@variant header-not-open (body:has(#header-open:not(:checked)) &);

@variant headings (& :is(h1, h2, h3, h4, h5, h6));

@layer base {
	:root {
		--background: var(--color-neutral-100);
		--foreground: var(--color-neutral-900);
	}

	@supports (interpolate-size: allow-keywords) {
		:root {
			interpolate-size: allow-keywords;
		}

		:open::details-content {
			height: auto;
		}
	}

	:target {
		scroll-margin-top: var(--header-height);

		&:is(h1, h2, h3, h4, h5, h6) {
			animation: anchored-heading 2s ease-in-out forwards;
		}
	}

	@keyframes anchored-heading {

		0%,
		50% {
			background-color: color-mix(in oklab,
					var(--color-amber-400) 50%,
					transparent);
		}
	}

	* {
		min-width: 0;
	}

	html {
		scroll-behavior: smooth;
	}

	details {
		&::details-content {
			overflow: clip;
			transition-duration: var(--default-transition-duration);
			transition-property: content-visibility, block-size;
			transition-behavior: allow-discrete;
		}

		&:not(:open)::details-content {
			block-size: 0;
		}
	}

	summary,
	label {
		cursor: pointer;
	}

	a {
		color: revert;
	}
}

/* ctas, links */

@utility action-base {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 0.5em;
	padding: 0.25em 0.5em;
}

@utility action {
	@apply action-base bg-foreground text-background;
}

@utility ghost {
	@apply action-base hover:bg-foreground/10;
}

@utility link {
	@apply underline hover:decoration-2;
}

/* typography */

@utility h1 {
	@apply text-3xl font-bold;
}

@utility h2 {
	@apply text-2xl font-bold;
}

@utility h3 {
	@apply text-xl font-bold;
}

@utility h4 {
	@apply text-lg font-bold;
}

@utility h5 {
	@apply text-base font-bold;
}

@utility h6 {
	@apply text-base font-bold;
}

/* components */

@utility section {
	@apply mx-auto max-w-7xl px-4 py-12;
}

@utility prose {
	@apply space-y-4 leading-relaxed;

	& h1 {
		@apply h1;
	}

	& h2 {
		@apply h2;
	}

	& h3 {
		@apply h3;
	}

	& h4 {
		@apply h4;
	}

	& h5 {
		@apply h5;
	}

	& h6 {
		@apply h6;
	}

	& blockquote {
		@apply border-l-4 pl-4;
	}

	& :is(ul, ol) {
		list-style: revert;
		padding-left: 1.5em;

		&>li>ol {
			list-style: lower-alpha;
		}
	}

	& a:not([class]) {
		@apply link;
	}
}

@utility carousel {
	--anchor-name: attr(data-anchor-name type(<custom-ident>), --carousel);
	anchor-name: var(--anchor-name);
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: min(var(--container-sm), 80vw);
	overflow-x: auto;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	scroll-marker-group: after;

	&::scroll-button(*) {
		cursor: pointer;
		position: absolute;
		position-anchor: var(--anchor-name);
		top: calc(anchor(center));
		z-index: 1;
		display: block;
		aspect-ratio: 1;
		width: 4ch;
		background-color: transparent;
		line-height: 0;
		translate: 0 -50%;
		background-color: currentColor;
	}

	&::scroll-button(left) {
		content: '' / 'Scroll left';
		left: calc(anchor(left));
		mask: url('https://ic0n.dev/vsc/VscChevronLeft') center / cover;
	}

	&::scroll-button(right) {
		content: '' / 'Scroll right';
		right: calc(anchor(right));
		mask: url('https://ic0n.dev/vsc/VscChevronRight') center / cover;
	}

	&::scroll-marker-group {
		position: absolute;
		position-anchor: var(--anchor-name);
		top: calc(anchor(bottom));
		justify-self: center;
		display: flex;
		align-items: center;
		gap: 0.8ch;
	}

	&>* {
		scroll-snap-align: center;

		&::scroll-marker {
			content: '';
			display: inline-block;
			aspect-ratio: 1;
			width: 0.8ch;
			border: 1px solid;
			border-radius: 100%;
			color: inherit;
		}

		&::scroll-marker:target-current {
			background-color: currentColor;
		}
	}
}

/* utilities */

@utility full-bleed {
	width: 100vw;
	margin-inline: calc(50% - 50vw);
}

/* anims */

@utility anim-fade {
	--x: 0;
	--y: 0;
	animation: anim-fade-to var(--tw-duration, var(--default-transition-duration)) ease-in-out forwards;
}

@utility anim-fade-to-l {
	@apply anim-fade;
	--x: 1rem;
}

@utility anim-fade-to-r {
	@apply anim-fade;
	--x: -1rem;
}

@utility anim-fade-to-t {
	@apply anim-fade;
	--y: 1rem;
}

@utility anim-fade-to-b {
	@apply anim-fade;
	--y: -1rem;
}

@keyframes anim-fade-to {
	from {
		opacity: 0;
		translate: var(--x, 0) var(--y, 0);
	}

	to {
		opacity: 1;
		translate: 0 0;
	}
}
