@import 'tailwindcss';

@theme {
	--font-sans: 'Geist', sans-serif;

	--color-background: var(--color-neutral-100);
	--color-foreground: var(--color-neutral-900);
	--color-stroke: var(--color-neutral-200);

	--color-primary: var(--color-blue-800);

	--spacing-lh: 1lh;
	--spacing-ch: 1ch;
}

@custom-variant hover (&:hover);

@variant header-open (body:has(#header-open:checked) &);
@variant header-not-open (body:has(#header-open:not(:checked)) &);

@variant headings (& :is(h1, h2, h3, h4, h5, h6));

@layer base {
	@view-transition {
		navigation: auto;
	}

	@supports (interpolate-size: allow-keywords) {
		:root {
			interpolate-size: allow-keywords;
		}

		:open::details-content {
			height: auto;
		}
	}

	:target {
		scroll-margin-top: var(--header-height);

		&:is(h1, h2, h3, h4, h5, h6) {
			animation: anchored-heading 2s ease-in-out forwards;
		}
	}

	@keyframes anchored-heading {

		0%,
		50% {
			background-color: color-mix(in oklab,
					var(--color-amber-400) 50%,
					transparent);
		}
	}

	* {
		min-width: 0;
	}

	html {
		scroll-behavior: smooth;
		@apply accent-primary caret-primary;
	}

	details {
		&::details-content {
			overflow: clip;
			transition-duration: var(--default-transition-duration);
			transition-property: content-visibility, block-size;
			transition-behavior: allow-discrete;
		}

		&:not(:open)::details-content {
			block-size: 0;
		}
	}

	summary,
	label {
		cursor: pointer;
	}

	a {
		color: revert;
	}

	cite {
		font-style: normal;
	}
}

/* ctas, links */

@utility action-base {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 0.5em;
	padding: 0.25em 0.5em;
}

@utility action {
	@apply action-base bg-foreground text-background;
}

@utility action-outline {
	@apply action-base bg-background border border-stroke text-foreground hover:border-current;
}

@utility ghost {
	@apply action-base bg-background text-foreground hover:bg-foreground/5;
}

@utility link {
	@apply cursor-pointer text-primary underline hover:decoration-2;
}

@utility input {
	padding: 0.25em 0.5em;
	@apply bg-background border border-foreground/10 focus-within:border-foreground/30;
}

/* typography */

@utility h0 {
	@apply text-4xl font-bold;
}

@utility h1 {
	@apply text-3xl font-bold;
}

@utility h2 {
	@apply text-2xl font-bold;
}

@utility h3 {
	@apply text-xl font-bold;
}

@utility h4 {
	@apply text-lg font-bold;
}

@utility h5 {
	@apply text-base font-bold;
}

@utility h6 {
	@apply text-base font-bold;
}

/* components */

@utility section {
	@apply mx-auto max-w-7xl px-4 py-12 md:px-8;
}

@utility prose {
	@apply space-y-4 leading-relaxed;

	& h1 {
		@apply h1;
	}

	& h2 {
		@apply h2;
	}

	& h3 {
		@apply h3;
	}

	& h4 {
		@apply h4;
	}

	& h5 {
		@apply h5;
	}

	& h6 {
		@apply h6;
	}

	& :is(ul, ol) {
		list-style: revert;
		padding-left: 1.5em;

		&>li>ol {
			list-style: lower-alpha;
		}
	}

	& a:not([class]) {
		@apply link;
	}

	& blockquote {
		@apply border-l-4 border-stroke pl-4;
	}

	& :not(pre)>code {
		padding-inline: 0.25em;
		font-size: 0.875em;
		@apply bg-foreground/5 rounded-sm;
	}

	& pre {
		overflow-x: auto;
		font-size: 0.875em;
	}

	& table {
		min-width: 100%;
		display: block;
		overflow-x: auto;
		line-height: 1.3;

		@apply max-md:full-bleed;

		& :is(th, td) {
			padding: 0.5lh 1em;
		}

		& tbody tr:nth-child(odd) {
			@apply bg-foreground/5;
		}
	}
}

@utility carousel {
	--anchor-name: attr(data-anchor-name type(<custom-ident>), --carousel);
	anchor-name: var(--anchor-name);
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: min(var(--container-sm), 80vw);
	overflow-x: auto;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	scroll-marker-group: after;

	@supports (position-anchor: var(--anchor-name)) {
		@apply no-scrollbar;

		&::scroll-button(*) {
			cursor: pointer;
			position: absolute;
			position-anchor: var(--anchor-name);
			top: anchor(center);
			z-index: 1;
			display: block;
			aspect-ratio: 1;
			width: 1.5lh;
			margin-inline: 0.5lh;
			translate: 0 -50%;
			background-color: currentColor;
		}

		&::scroll-button(left) {
			content: '' / 'Scroll left';
			left: anchor(left);
			mask: url('https://ic0n.dev/io5/IoChevronBackCircleSharp') center / cover;
		}

		&::scroll-button(right) {
			content: '' / 'Scroll right';
			right: anchor(right);
			mask: url('https://ic0n.dev/io5/IoChevronForwardCircleSharp') center / cover;
		}
	}

	&::scroll-marker-group {
		position: absolute;
		position-anchor: var(--anchor-name);
		top: calc(anchor(bottom) + 1rem);
		justify-self: center;
		display: flex;
		align-items: center;
		gap: 0.5ch;
	}

	&>* {
		scroll-snap-align: center;

		&::scroll-marker {
			content: '';
			@apply bg-foreground/25 block size-1 rounded-full;
		}

		&::scroll-marker:target-current {
			@apply bg-foreground w-[2ch] opacity-100;
		}
	}
}

@utility accordion {
	&>summary {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.5em;

		&::after {
			content: '+';
			flex-shrink: 0;
			font-family: var(--font-mono);
		}
	}

	&[open]>summary::after {
		content: '-';
	}
}

@utility skeleton {
	@apply block bg-foreground/5 h-lh;
}

/* utilities */

@utility full-bleed {
	width: 100vw;
	margin-inline: calc(50% - 50vw);
}

@utility no-scrollbar {
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

@utility sticky-below-header {
	position: sticky;
	top: calc(var(--header-height) + var(--offset, 0px));
}

/* anims */

@utility anim-fade {
	--x: 0;
	--y: 0;
	animation: anim-fade-to var(--tw-duration, var(--default-transition-duration)) ease-in-out forwards;
}

@utility anim-fade-to-l {
	@apply anim-fade;
	--x: 1rem;
}

@utility anim-fade-to-r {
	@apply anim-fade;
	--x: -1rem;
}

@utility anim-fade-to-t {
	@apply anim-fade;
	--y: 1rem;
}

@utility anim-fade-to-b {
	@apply anim-fade;
	--y: -1rem;
}

@keyframes anim-fade-to {
	from {
		opacity: 0;
		translate: var(--x, 0) var(--y, 0);
	}

	to {
		opacity: 1;
		translate: 0 0;
	}
}
